{{#if validationErrors.length}}
	<span>Couldn't login because:</span>
	<ul>
		{{#each validationErrors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<form action="/projects/feedback" method="POST">
	<input type="hidden" name="_csrf" value={{csurfToken}}>
	<div class="form-group">
		<select class="form-select" name="projectSelect">
			<option value="" name="id">Choose a project</option>
			{{#if project.length}}
				{{#each project}}
					<option value="{{id}}" name="id">{{title}}</option>
				{{/each}}
			{{else}}
				<p>This guy hasn't made his projects yet!</p>
			{{/if}}
		</select>
	</div>

	<div class="form-group">
		<label class="form-label text-bold">Feedback</label>
		<textarea class="form-input textarea" placeholder="Type your feedback here" rows="3"
			name="description"></textarea>
		<button class="btn input-group-btn btn-primary mt-2">Submit</button>
	</div>
</form>