<h2>Choose a reaction</h2>
{{#if session.isLoggedIn}}
    {{#each images}}
        <form action="/projects/feedback/reaction" method="POST">
            <input type="hidden" name="_csrf" value={{../csurfToken}}>
            <input type="hidden" name="feedbackID" value="{{../feedback.id}}">
            <input type="hidden" name="feedback" value="{{../feedback}}">
            <div class="form-group">
                <input type="hidden" name="imgID" value="{{id}}">
                <input type="image" src="{{url}}" alt="icon" width="100px" height="100px">
            </div>
        </form>
    {{/each}}
{{else}}
    <h1>You are not logged in!</h1>
{{/if}}